<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/wiki.css">

</head>
<body>
  <div class="container">
<header>Pectoral Muscles</header>
<p>Pectoral muscles (colloquially referred to as "pecs") are the muscles that connect the front of the human chest with the bones of the upper arm and shoulder. This region contains four muscles that provide movements to the upper limbs or ribs.</p>
<p>Pectoralis major is a thick, fan-shaped or triangular convergent muscle, which makes up the bulk of the chest muscle. It lies under the breast. It serves to flex, extend, and rotate the humerus, the long bone of the upper arm.</p>
<p>Pectoralis minor is a thin, triangular muscle located beneath the pectoralis major. It attaches to the ribs, and serves to stabilize the scapula, the large bone of the shoulder.</p>
<p>The pectoral fascia is a thin layer of tissue over the pectoralis major, extending toward the latissimus dorsi muscle on the back.</p>
<p>Along with the pectoralis major and pectoralis minor, the subclavius muscle forms the axilla or armpit. The subclavius moves the shoulder downward and forward.</p>
<p>Serratus anterior is another muscle on the front of the chest. It moves the scapula forward around the torso, as when throwing a punch.</p>
<p>Between the ribs are various groups of intercostal muscles, which help with breathing.</p>

</div>
</body>
</html>