<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>GitFit</title>
</head>
<body class = "body">
    <div class = "container" >
    <a href="/nutrition"><img src="https://i.imgur.com/uRI2K1a.png" class="nutrition"/></a>
    <a href="/anatomy"><img src="https://i.imgur.com/4UssOWz.png" class="anatomy" /></a>
    <a href="/workout"><img src="https://i.imgur.com/KAWwRP6.png" class="workouts" /></a>
</div>
</body>
</html>
