<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>GitFit</title>
</head>
<body class = "body">
    <h1 class = "title"> GitFit </h1>

    <div class = "container">
    <p class = "nutrition"><a href="/nutrition">Nutrition</a></p>
    <p class = "anatomy"><a href="/anatomy">Anatomy</a></p>
    <p class = "workouts"><a href="/workout">Workouts</a></p>
</div>


</body>
</html>