<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/wiki.css">

</head>
<body>
  <div class="container">
<header>Shoulders</header>
<p>The human shoulder is made up of three bones: the clavicle (collarbone), the scapula (shoulder blade), and the humerus (upper arm bone) as well as associated muscles, ligaments and tendons. The articulations between the bones of the shoulder make up the shoulder joints. The shoulder joint, also known as the glenohumeral joint, is the major joint of the shoulder, but can more broadly include the acromioclavicular joint. In human anatomy, the shoulder joint comprises the part of the body where the humerus attaches to the scapula, and the head sits in the glenoid cavity.[1] The shoulder is the group of structures in the region of the joint.[2]

  The shoulder joint is the main joint of the shoulder. It is a ball and socket joint that allows the arm to rotate in a circular fashion or to hinge out and up away from the body. The joint capsule is a soft tissue envelope that encircles the glenohumeral joint and attaches to the scapula, humerus, and head of the biceps. It is lined by a thin, smooth synovial membrane. The rotator cuff is a group of four muscles that surround the shoulder joint and contribute to the shoulder's stability. The muscles of the rotator cuff are supraspinatus, subscapularis, infraspinatus, and teres minor. The cuff adheres to the glenohumeral capsule and attaches to the humeral head.
  
  The shoulder must be mobile enough for the wide range actions of the arms and hands, but stable enough to allow for actions such as lifting, pushing, and pulling.</p>
<h1 class="heading">Structure</h1>
<p>The shoulder consists of a ball-and-socket joint formed by the humerus and scapula and their surrounding structures - ligaments, muscles, tendons - which support the bones and maintain the relationship of one to another.[1][2] These supporting structures attach to the clavicle, humerus, and scapula, the latter providing the glenoid cavity, acromion and coracoid processes. The main joint of the shoulder is the shoulder joint (or glenohumeral joint), between the humerus and the glenoid process of the scapular.[1] The acromioclavicular joint and sternoclavicular joint also play a role in shoulder movements.[3] White hyaline cartilage on the ends of the bones (called articular cartilage) allows the bones to glide and move on each other, and the joint space is surrounded by a synovial membrane. Around the joint space are muscles - the rotator cuff, which directly surrounds and attaches to the shoulder joint - and other muscles that help provide stability and facilitate movement.

  Two filmy sac-like structures called bursae permit smooth gliding between bone, muscle, and tendon. They cushion and protect the rotator cuff from the bony arch of the acromion.[4]
  
  The glenoid labrum is the second kind of cartilage in the shoulder which is distinctly different from the articular cartilage. This cartilage is more fibrous or rigid than the cartilage on the ends of the ball and socket. Also, this cartilage is also found only around the socket where it is attached.[5]</p>
<h1>Joint</h1>
<p>The shoulder joint (also known as the glenohumeral joint) is the main joint of the shoulder.[1] It is a ball and socket joint that allows the arm to rotate in a circular fashion or to hinge out and up away from the body. It is formed by the articulation between the head of the humerus and the lateral scapula (specifically-the glenoid cavity of the scapula). The "ball" of the joint is the rounded, medial anterior surface of the humerus and the "socket" is formed by the glenoid cavity, the dish-shaped portion of the lateral scapula. The shallowness of the cavity and relatively loose connections between the shoulder and the rest of the body allows the arm to have tremendous mobility, at the expense of being much easier to dislocate than most other joints in the body. There is an approximately 4-to-1 disproportion in size between the large head of the humerus and the shallow glenoid cavity.[citation needed]The glenoid cavity is made deeper by the addition of the fibrocartilaginous ring of the glenoid labrum.

  The capsule is a soft tissue envelope that encircles the glenohumeral joint and attaches to the scapula, humerus, and head of the biceps. It is lined by a thin, smooth synovial membrane. This capsule is strengthened by the coracohumeral ligament which attaches the coracoid process of the scapula to the greater tubercle of the humerus. There are also three other ligaments attaching the lesser tubercle of the humerus to lateral scapula and are collectively called the glenohumeral ligaments.[citation needed]
  
  The transverse humeral ligament, which passes from the lesser tubercle to the greater tubercle of humerus, covers the intertubercular groove, in which the long head of biceps brachii travels.[citation ne</p>
<h1>Rotator cuff
</h1>
<p>The rotator cuff is an anatomical term given to the group of four muscles and their tendons that act to stabilize the shoulder.[3] These muscles are the supraspinatus, infraspinatus, teres minor and subscapularis and that hold the head of the humerus in the glenoid cavity during movement.[3] The cuff adheres to the glenohumeral capsule and attaches to the head of the humerus.[3] Together, these keep the humeral head in the glenoid cavity, preventing upward migration of the humeral head caused by the pull of the deltoid muscle at the beginning of arm elevation. The infraspinatus and the teres minor, along with the anterior fibers of the deltoid muscle, are responsible for external rotation of the arm.[6]

  The four tendons of these muscles converge to form the rotator cuff tendon. This tendon, along with the articular capsule, the coracohumeral ligament, and the glenohumeral ligament complex, blend into a confluent sheet before insertion into the humeral tuberosities.[7] The infraspinatus and teres minor fuse near their musculotendinous junctions, while the supraspinatus and subscapularis tendons join as a sheath that surrounds the biceps tendon at the entrance of the bicipital groove.[7]</p>
<h1>Muscles from the shoulder region

</h1>
<p>In addition to the four muscles of the rotator cuff, the deltoid muscle and teres major muscles arise and exist in the shoulder region itself.[3] The deltoid muscle covers the shoulder joint on three sides, arising from the front upper third of the clavicle, the acromion, and the spine of the scapula, and travelling to insert on the deltoid tubercle of the humerus.[3] Contraction of each part of the deltoid assists in different movements of the shoulder - flexion (clavicular part), abduction (middle part) and extension (scapular part).[3] The teres major attaches to the outer part of the back of the scapula, beneath the teres minor, and attaches to the upper part of the humerus. It helps with medial rotation of the humerus.[3]</p>

</div>
</body>
</html>