<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/wiki.css">

</head>
<body>
  <div class="container">
<header>Triceps</header>
<p></p>
<h1 class="heading"></h1>
<p>The long head arises from the infraglenoid tubercle of the scapula. It extends distally anterior to the teres minor and posterior to the teres major.[2]


  Horizontal section of upper arm. Triceps muscle shown in green text
  The medial head arises proximally in the humerus, just inferior to the groove of the radial nerve; from the dorsal (back) surface of the humerus; from the medial intermuscular septum; and its distal part also arises from the lateral intermuscular septum. The medial head is mostly covered by the lateral and long heads, and is only visible distally on the humerus.[2]
  
  The lateral head arises from the dorsal surface of the humerus, lateral and proximal to the groove of the radial nerve, from the greater tubercle down to the region of the lateral intermuscular septum.[2]
  
  Each of the three fascicles has its own motorneuron subnucleus in the motor column in the spinal cord. The medial head is formed predominantly by small type I fibers and motor units, the lateral head of large type IIb fibers and motor units and the long head of a mixture of fiber types and motor units.[3][4] It has been suggested that each fascicle "may be considered an independent muscle with specific functional roles."[3]
  
  The fibers converge to a single tendon to insert onto the olecranon process of the ulna (though some research indicates that there may be more than one tendon)[5] and to the posterior wall of the capsule of the elbow joint where bursae (cushion sacks) are often found. Parts of the common tendon radiates into the fascia of the forearm and can almost cover the anconeus muscle.[2]</p>
<h1>Innervation</h1>
<p>All three heads of the triceps brachii are classically believed to be innervated by the radial nerve.[6] However, more recent studies observed that in around 14% of individuals the long head of the triceps brachii was innervated by the axillary nerve, and in 3% it received dual innervation from both the radial nerve and axillary nerve.[7][8]</p>
<h1>Variation</h1>
<p>A tendinous arch is frequently the origin of the long head and the tendon of latissimus dorsi. In rare cases, the long head can originate from the lateral margin of the scapula and from the capsule of the shoulder joint.[2]</p>
<h1 class="heading">Function</h1>
<p>The triceps is an extensor muscle of the elbow joint and an antagonist of the biceps and brachialis muscles. It can also fixate the elbow joint when the forearm and hand are used for fine movements, e.g., when writing. It has been suggested that the long head fascicle is employed when sustained force generation is demanded, or when there is a need for a synergistic control of the shoulder and elbow or both. The lateral head is used for movements requiring occasional high-intensity force, while the medial fascicle enables more precise, low-force movements.[3]

  With its origin on the scapula, the long head also acts on the shoulder joint and is also involved in retroversion and adduction of the arm. It helps stabilise the shoulder joint at the top of the humerus.[9][2]</p>
<h1>Training</h1>  
<p>The triceps can be worked through either isolation or compound elbow extension movements and can contract statically to keep the arm straightened against resistance.

  Isolation movements include cable push-downs, lying triceps extensions and arm extensions behind the back. Examples of compound elbow extension include pressing movements like the push up, bench press, close grip bench press (flat, incline or decline), military press and dips. A closer grip targets the triceps more than wider grip movements.
  
  Static contraction movements include pullovers, straight-arm pulldowns and bent-over lateral raises, which are also used to build the deltoids and latissimus dorsi.
  
  Ruptures of the triceps muscle are rare, and typically only occur in anabolic steroid users.[10]</p>

</div>
</body>
</html>