body {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
}

.nutrition {
    height: 75vh;
    width: 25vw;
    padding: 5px;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
    margin: 15px;
}

.workouts {
    height: 75vh;
    width: 25vw;
    padding: 5px;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
    margin: 15px;
}

.anatomy {
    height: 75vh;
    width: 25vw;
    padding: 5px;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
    margin: 15px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 1vh;
}


