.header {
    position: absolute;
    top: 5%;
    left: 50%;
    font-size: 75px;
}

.row {
    position: absolute;
    top: 15%;
    left: 50%;

}

.foodName {
    border: 5px solid;
  
}

.macro {
    border: 5px solid;
    font-size: 20px;
    padding-right: 15px;
}



.form {
    position: absolute;
    left: 100px;
}

.panel-body {
    display: flex;
    flex-direction: row;
}

.row {
    position: absolute;
    left: 35%;
}
