.header {
    position: absolute;
    top: 0%;
    left: 32.5%;
    font-size: 75px;
}

.row {
    position: absolute;
    top: 15%;
    left: 50%;

}

.foodName {
    border: 5px solid;
    margin-bottom: 0%;
  
}

.cals {
    border: 5px solid;
    font-size: 20px;
    padding-right: 15px;
    margin-bottom: 0%;
}

.fat {
    border: 5px solid;
    font-size: 20px;
    padding-right: 15px;
    margin-bottom: 0%;
}

.carbs {
    border: 5px solid;
    font-size: 20px;
    padding-right: 15px;
    margin-bottom: 0%;

}

.protein {
    border: 5px solid;
    font-size: 20px;
    padding-right: 15px;
    margin-bottom: 0%;

}

.remove {
    margin-bottom: 2%;
}



.form {
    position: absolute;
    left: 36%;
    top: 10%;

}

.panel-body {
    display: flex;
    flex-direction: column;
}

.row {
    position: absolute;
    left: 35%;
}